@import './base.css';

.custom-navbar {
  background-color: #85abff; /* Custom text color */
}

.search-btn {
  background-color: #3428ba;
  border-color: #B6E7EC;
  color: #B6E7EC;
}

.search-btn:hover {
  background-color: #B6E7EC;
  border-color: #B6E7EC;
  color: #3428ba;
}

.add-btn {
  background-color: #3428ba;
  border-color: #3428ba;
  color: white;
}

.add-btn:hover {
  background-color: #85abff;
  border-color: #85abff;
  color: white;
}

.save-info-btn{
  background-color: #3c67bf;
  border-color: #3c67bf;
  color: white;
}

.save-info-btn:hover{
  background-color: #cfbdff;
  border-color: #cfbdff;
  color: white;
}

.BNavItem:hover {
  color: #B6E7EC;
}

.BNavItem {
  color: black;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
